html{
  font-size: 16px;
}

body{
  background-color: #EDF4F7;
}

/*Header*/
header, footer{
  padding: 10px;
  background-color: #4F6CF0;
  color: #EDF4F7;
  min-width: 450px;
}

header{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

footer{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

footer a{
  text-decoration-color: #FE7960;
}

header h1{
  font-size: 2.8rem;
  text-transform: lowercase;
  text-decoration:underline;
  text-decoration-color: #FE7960;
}

a{
  color: white;
}

h2{
  text-align: right;
}

/*Filter*/
.date-filter{
  min-width: 380px;
  padding-top: 10px;
  width: 95%;
  background-color: #FE7960;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.date-filter h3,.date-filter input, .date-filter button{
  margin-left: 15px;
  font-size: 1.15rem;
}

.date-filter form{
  padding-bottom: 10px;
}

.date-filter h3{
  text-align: center;
}

.reset{
  background: dark-grey;
}

/*Card Container*/
.images-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin:auto;
}

/*Card*/
.card{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 5px 5px 15px grey;
  margin: 10px 0px;
  min-width: 450px;
  background-color:#FFFFFF;
  margin: 15px auto;
}

.image{
  object-fit: cover;
  max-height: 600px;
  width: 100%;
  display:block;
}

label{
  font-weight: bold;
  margin: auto;
}

.image-text{
  padding: 10px 20px 20px 10px;
  text-align: justify;
}

.image-text h3{
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #FE7960;
}

/*Card Buttons*/
.button-pressed{
  background-color: #4F6CF0;
  color: #EDF4F7;
}

.hidden{
  visibility: hidden;
}

/*Card Share*/
a.share{
  color:#3B5868;
  text-decoration-color: #FE7960;
}

/*Load More Images Button*/
button, .share-button{
  background-color: #3B5868;
  color:#FFFFFF;
  width: 70px;
  padding: 3px;
  border: none;
  border-radius: 5px;
  font-size: 1.15rem;
  margin: 5px;
}

.load-button{
  width: 200px;
  padding: 10px;
  background-color: #FE7960;
  color: #FFFFFF;
  margin: 20px;
}
@media all and (min-width:600px){
  .date-filter{
    margin-left:auto;
    margin-right: 0px;
    width: 380px;
  }
  .card{
    max-width: 800px;
  }
}

*{
  font-family: 'PT Sans', Madefor, Helvetica Neue, Helvetica, Arial, sans-serif;
}

